################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software/GLINES/GLines/GLines.csproj
/Software/GLINES/GLines/GLines.csproj
/Software/GLINES/GLines/GLines.csproj
